{% extends 'base.html' %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">


{% for Folder in folder %}
    <div>
        <h3><i class="fa fa-folder"></i>>{{ Folder.name }}</h3>
        <p>Creator: {{ Folder.creator }}</p>
    </div>
            <h1>Add a Folder</h1>

        <Form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="button" />
        </Form>
{% endfor %}

{% endblock content %}