{% extends 'base.html' %}

{% load static %}

{% block content %}

	<br>
	<div id="container" class="d-flex align-items-center">
		<div class = "Button2">
			{% include 'upload_file.html' %}
		</div>
		<div class = "button34" style="margin-left: 10px">
			<a href="{% url 'Record' pk=request.session.case_id %}" class="btn btn-secondary">Retur til sag</a>
		</div>
	</div>
	<br>
	<link rel="stylesheet" href="{% static 'fontawesome_5/css/all.min.css' %}">
	<style>
		.fa-times {
			font-size: 1.5em;
			margin-left: 10px;
		}
		  .x-icon {
		  	display: inline-block;
		  	width: 1.5em;
		  	height: 1.5em;
		  	background-color: #fff;
		  	border-radius: 50%;
		  	position: relative;
		  }
		  .x-icon:before,
		  .x-icon:after {
		  	content: "";
		  	position: absolute;
		  	height: 2px;
		  	background-color: #dc3545;
		  }
		  .x-icon:before {
		  	left: 0.2em;
		  	top: 0.35em;
		  	width: 85%;
		  	transform: rotate(45deg);
		  }
		  .x-icon:after {
		  	left: 0.2em;
		  	top: 0.35em;
		  	width: 85%;
		  	transform: rotate(-45deg);
		  }
		  .container {
		  	justify-content: space-between;
		  	margin-left: 60px;
		  }
	</style>
	{% for file in folder.allfiles.all %}
	<div class="row">
		<div class="col-md-11 d-flex align-items-center">
			<a href="{{ file.file.url }}" target="_blank">{{ file|linebreaks }}</a>
				<a href="#" class="text-danger ms-2" data-bs-toggle="modal" data-bs-target="#deleteModal-{{file.pk}}">
					<span class="x-icon"></span>
				</a>
				<!-- Delete Modal -->
				<div class="modal fade" id="deleteModal-{{file.pk}}" tabindex="-1" aria-labelledby="deleteModalLabel-{{file.pk}}" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="deleteModalLabel-{{file.pk}}"><strong>Slet fil</strong></h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								Er du sikker på at du vil slette?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
								<a href="{% url 'delete_file' pk=file.pk %}" class="btn btn-danger">Slet fil</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock content %}
