{% load static %}
<link rel="stylesheet" type='text/css' href="/static/record_mobile.css">
<script src="/static/record_mobile.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="icon" type="image/png" href="{% static 'assets/CARDEL-EJD.-PROJEKT.png' %}">

<body><div class="container1">

  {% if customer_record.Status == 'Lukket aftale' %}
  <a href="{% url 'home' %}" style="color: #FFFFFF;">
    <span class="return-arrow">&#8592;</span>
  </a>
  {% elif customer_record.Status != 'Lost' and customer_record.Status != 'Lukket aftale' and customer_record.Status != 'Lead' %}
  <a href="{% url 'prospects' %}" style="color: #FFFFFF;">
    <span class="return-arrow">&#8592;</span>
  </a>
{% elif customer_record.Status == 'Lost' %}
  <a href="{% url 'archived' %}" style="color: #FFFFFF;">
    <span class="return-arrow">&#8592;</span>
  </a>
{% elif customer_record.Status == 'Lead' %}
	<a href="{% url 'lead' %}" style="color: #FFFFFF;">
    	<span class="return-arrow">&#8592;</span>
	</a>
{% else %}
  <a href="{% url 'home' %}" style="color: #FFFFFF;">
    <span class="return-arrow">&#8592;</span>
  </a>
{% endif %}
  <span class="update">{% include 'update_record.html' %}</span>
  <span class="comments">{% include 'showcomments.html' %}</span>
  <span class="deleterecord">{% include 'delete_record.html' %}</span>
  <span class="ellipsis">&#8942;</span>
  <div class="dropdown">
    <div class="dropdown-item">Item 1</div>
    <div class="dropdown-item">Item 2</div>
    <div class="dropdown-item">Item 3</div>
  </div>
  <div class="profile-info">
    <div>
      <div class="profile-name">{{ customer_record.Adresse }}</div>
      <div class="profile-title">{{ customer_record.BFE_Nummer }}</div>
    </div>
  </div>
  <div class="info-section">
    <div>
      {% if customer_record.Status == 'Møde booket' %}
      <div class="info-label">Status på møde</div>
      <div class="info-value">{{ customer_record.Moedestatus }}</div>
      {% elif customer_record.Status == 'Lukket aftale' %}
      <div class="info-label">Status på aftale</div>
      <div class="info-value">{{ customer_record.Lukket_aftale_Status }}</div>
      {% else %}
      <div class="info-label">Status</div>
      <div class="info-value">{{ customer_record.Status }}</div>
      {% endif %}
    </div>
    <div>
      {% if customer_record.Status == 'Lukket aftale' %}
      <div class="info-label">Forfaldsdato</div>
      <div class="info-value">{{ customer_record.Forfaldsdato|date:"d-m-Y" }}</div>
      {% else %}
      <div class="info-label">Opfølgningsdato</div>
      <div class="info-value">{{ customer_record.Opfølgningsdato|date:"d-m-Y" }}</div>
      {% endif %}
    </div>
    <div>
      <div class="info-label">Lead</div>
      <div class="info-value">{{ customer_record.Lead }}</div>
    </div>
  </div>
</div>

<div class="container2">
  <div class="activity-buttons">
    <button class="activity-button active" data-activity="all">All</button>
    <button class="activity-button" data-activity="salg">Salg</button>
    <button class="activity-button" data-activity="økonomi">Økonomisk flow</button>
    <button class="activity-button" data-activity="dokumenter">Dokumenter</button>
  </div>
  <div class="activity-content active" data-activity="all">
    <div class="circle-container">
      <div class="circle active"></div>
      <div class="circle"></div>
    </div>
    <div class="activity-item" data-activity="all">
      <div class="activity-item-header">
        <div class="activity-item-title">Kontaktperson</div>
      </div>
      <div class="activity-item-content">{{ customer_record.Kontaktperson }}</div>
    </div>
    <div class="activity-item" data-activity="all">
      <div class="activity-item-header">
        <div class="activity-item-title">Telefonnummer</div>
      </div>
      <div class="activity-item-content"><a href="tel:+45{{ customer_record.Telefonnummer }}" style="color: black;">{{ customer_record.Telefonnummer }}</a></div>
    </div>
    <div class="activity-item" data-activity="all">
      <div class="activity-item-header">
        <div class="activity-item-title">Mail</div>
      </div>
      <div class="activity-item-content">{{ customer_record.Mail }}</div>
    </div>
    <div class="activity-item" data-activity="all">
      <div class="activity-item-header">
        <div class="activity-item-title">Resights</div>
      </div>
      <div class="activity-item-content"><a href="{{ customer_record.Resights }}" target="_blank" style="color: blue;">Resights</a></div>
    </div>
    <div class="activity-item" data-activity="all">
      <div class="activity-item-header">
        <div class="activity-item-title">Kommune</div>
      </div>
      <div class="activity-item-content">{{ customer_record.Kommune }}</div>
    </div>
    <div class="activity-item" data-activity="all">
      <div class="activity-item-header">
        <div class="activity-item-title">Region</div>
      </div>
      <div class="activity-item-content">{{ customer_record.Region }}</div>
    </div>
    <div class="activity-item" data-activity="all">
      <div class="activity-item-header">
        <div class="activity-item-title">Kommuneplan</div>
      </div>
      <div class="activity-item-content">{{ customer_record.Kommuneplan }}</div>
    </div>
    <div class="activity-item" data-activity="all">
      <div class="activity-item-header">
        <div class="activity-item-title">Lokalplan</div>
      </div>
      <div class="activity-item-content">{{ customer_record.Lokalplan }}</div>
    </div>
    <div class="activity-item" data-activity="all">
      <div class="activity-item-header">
        <div class="activity-item-title">Formål</div>
      </div>
      <div class="activity-item-content">{{ customer_record.Formaal }}</div>
    </div>
    <div class="activity-item" data-activity="all">
      <div class="activity-item-header">
        <div class="activity-item-title">M<sup>2</sup></div>
      </div>
      <div class="activity-item-content">{{ customer_record.m2 }}</div>
    </div>
  </div>
  <div class="activity-content" data-activity="salg">
    <div class="activity-item" data-activity="salg">
      <div class="activity-item-header">
        <div class="activity-item-title" style="margin-left: 10%;">Areal</div>
        <div id="matriklen-container"></div>
      </div>
      <div class="activity-item-content">
        <iframe src="https://www.matriklen.dk/#/kort/sfe/{{ customer_record.BFE_Nummer }}" frameborder="0" width="80%" height="600" style="display: block; margin: 0 auto;"></iframe>
        <script>
          const iframe = document.querySelector('iframe');
          iframe.onload = function() {
            const navWrapper = iframe.contentDocument.querySelector('.nav-wrapper');
            navWrapper.style.display = 'none';
          };
        </script>
      </div>
    </div>
	<script>
	const bfeNummer = '{{ customer_record.BFE_nummer }}';
	const url = `https://www.matriklen.dk/#/kort/sfe/${bfeNummer}`;
	
	fetch(url)
	.then(response => response.text())
	.then(html => {
		const container = document.getElementById('matriklen-container');
		container.innerHTML = html;
		});
		</script>
		</div>
		<div class="activity-content" data-activity="økonomi">
    <div class="activity-item" data-activity="økonomi">
      <div class="activity-item-header">
        <div class="activity-item-title">Økonomi Item 1</div>
        <div>2022-01-03 12:00:00</div>
      </div>
      <div class="activity-item-content">This is the content of Økonomi item 1.</div>
    </div>
    <div class="activity-item" data-activity="økonomi">
      <div class="activity-item-header">
        <div class="activity-item-title">Økonomi Item 2</div>
        <div>2022-01-04 12:00:00</div>
      </div>
      <div class="activity-item-content">This is the content of Økonomi item 2.</div>
    </div>
  </div>
  <div class="activity-content" data-activity="dokumenter">
    <div class="activity-item" data-activity="dokumenter">
<div class="container3">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>
<div class="folder-tree-wrapper">
  <ul class="folder-tree">
    {% for folder in folders %}
      {% if folder.name == 'Aftaler' %}
        <li>
          <i class="fa fa-folder"></i>
          <i class="name_folder" style="color: black;">{{folder.name}}</i>
          <div class="arrow"><i class="fa fa-angle-down"></i></div>
          {% for file in folder.allfiles.all %}
          <ul>
            <li><i class="folderlist"></i>  <a href="{{file.file_url}}" target="_blank">{{ file }}</a> {% include 'delete_file.html' %}</li>
          </ul>
          {% endfor %}
      {% endif %}
      {% if folder.name == 'Økonomi' %}
        <li>
          <i class="fa fa-folder"></i>
          <i class="name_folder" style="color: black;">{{folder.name}}</i>
          <div class="arrow"><i class="fa fa-angle-down"></i></div>
          {% for file in folder.allfiles.all %}
          <ul>
            <li><i class="folderlist"></i>  <a href="{{file.file_url}}" target="_blank">{{ file }}</a> {% include 'delete_file.html' %}</li>
          </ul>
          {% endfor %}
      {% endif %}
      {% if folder.name == 'Planer' %}
        <li>
          <i class="fa fa-folder"></i>
          <i class="name_folder" style="color: black;">{{folder.name}}</i>
          <div class="arrow"><i class="fa fa-angle-down"></i></div>
          {% for file in folder.allfiles.all %}
          <ul>
            <li><i class="folderlist"></i>  <a href="{{file.file_url}}" target="_blank">{{ file }}</a> {% include 'delete_file.html' %}</li>
          </ul>
          {% endfor %}
      {% endif %}
      {% if folder.name == 'Bilag' %}
        <li>
          <i class="fa fa-folder"></i>
          <i class="name_folder" style="color: black;">{{folder.name}}</i>
          <div class="arrow"><i class="fa fa-angle-down"></i></div>
          {% for file in folder.allfiles.all %}
          <ul>
            <li><i class="folderlist"></i>  <a href="{{file.file_url}}" target="_blank">{{ file }}</a> {% include 'delete_file.html' %}</li>
          </ul>
          {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
</div>

  <script> $(function() {
  $('.folder-tree li').click(function(evt) {
        evt.stopPropagation();
        $(this).toggleClass('expanded');
    });
});</script>
<br>
<div class="uploadfiles">  
  {% include 'upload_file.html' %}
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>