{% extends 'base.html' %}
<meta name="viewport" content="width=device-width; initial-scale=1.0">
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style.css' %}">
{% block content %}



<br/>

<div class="container1">
	<div class="card">
		<div class="card-header">
			<strong>{{ customer_record.Adresse }}</strong>
		</div>
		<form action="" method="POST">
			{% csrf_token %}
			<ul class="grid">
				<li class="list-group-item"><strong>BFE-nummer: </strong>{{ customer_record.BFE_Nummer }}</li>
				<li class="list-group-item"><strong>Kommune: </strong>{{ customer_record.Kommune }}</li>
				<li class="list-group-item"><strong>Region: </strong>{{ customer_record.Region }}</li>
				<li class="list-group-item"><strong>By: </strong>{{ customer_record.By }}</li>
				<li class="list-group-item"><strong>Kontaktperson: </strong>{{ customer_record.Kontaktperson }}</li>
				<li class="list-group-item"><strong>Mail: </strong>{{ customer_record.Mail }}</li>
				<li class="list-group-item"><strong>Telefonnummer: </strong>{{ customer_record.Telefonnummer }}</li>
				<li class="list-group-item"><strong>M<sup>2</sup>: </strong>{{ customer_record.m2 }}</li>
				<li class="list-group-item"><strong>Kommuneplan: </strong>{{ customer_record.Kommuneplan }}</li>
				<li class="list-group-item"><strong>Lokalplan: </strong>{{ customer_record.Lokalplan }}</li>
				<li class="list-group-item"><strong>Formål: </strong>{{ customer_record.Formaal }}</li>
				<li class="list-group-item"><strong>Lead: </strong>{{ customer_record.Lead }}</li>
				{% if customer_record.Status != 'Lukket aftale' %}
				<li class="list-group-item"><strong>Status: </strong>{{ customer_record.Status }}</li>
				{% endif %}
				{% if customer_record.Status == 'Lukket aftale' %}
				<li class="list-group-item"><strong>Status på aftale: </strong>{{ customer_record.Lukket_aftale_Status }}</li>
				{% endif %}
				{% if customer_record.Status == 'Lukket aftale' %}
				<li class="list-group-item"><strong>Forfaldsdato: </strong>{{ customer_record.Forfaldsdato|date:"d-m-Y" }}</li>
				{% endif %}
				{% if customer_record.Status != 'Lukket aftale' %}
				<li class="list-group-item"><strong>Opfølgningsdato: </strong>{{ customer_record.Opfølgningsdato|date:"d-m-Y" }}</li>
				{% endif %}
				<li class="list-group-item"><a href="{{ customer_record.Resights }}" target="_blank" style="color: blue;">Resights</a></li>
			</ul>
		</div>
		{% for field in form %}
		<div class="form-group">
			{{ field.label_tag }}
			{{ field }}
		</div>
	</form>
</div>
</div>
{% endfor %}


<div class="buttons">
<a href="{% url 'home' %}" class ="btn btn-secondary"  type="submit" style="margin-right: 5px;" >Gem</a>
</form>

{% if customer_record.Status == 'Lukket aftale' %}
  <a href="{% url 'home' %}" class="btn btn-secondary" style="margin-right: 5px;">Tilbage</a>
{% elif customer_record.Status != 'Lost' and customer_record.Status != 'Lukket aftale' %}
  <a href="{% url 'prospects' %}" class="btn btn-secondary" style="margin-right: 5px;">Tilbage</a>
{% elif customer_record.Status == 'Lost' %}
  <a href="{% url 'archived' %}" class="btn btn-secondary" style="margin-right: 5px;">Tilbage</a>
{% else %}
  <a href="{% url 'home' %}" class="btn btn-secondary" style="margin-right: 5px;">Tilbage</a>
{% endif %}

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" style="margin-right: 5px;">
  Slet
</button>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'delete_record' pk=customer_record.pk %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Slet registrering</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Er du sikker på at du vil slette registeringen?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
          <button type="submit" class="btn btn-danger">Slet</button>
        </div>
      </form>
    </div>
  </div>
</div>

<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary" style="margin-right: 5px;">Rediger</a>
</div>
<br/>
<div class="container2">
<div class="card"> <div class="card-body"> <h5 class="card-title">Tilføj en note</h5> <p class="card-text">Beskriv din erfaring herunder.</p>
<a href="{% url 'add_comment1' customer_record.pk %}" class="btn btn-secondary">Tilføj en note</a>
</div>
</div>
<br>
<div class="alert alert-warning">
{% if not customer_record.comments.all %}
<strong>OBS!</strong>
		Ingen noter endnu <a href="{% url 'add_comment1' customer_record.pk %}">Tilføj en note</a>
</div>

{% else %}
<h6><strong>Noter</strong></h6>
{% for comment in customer_record.comments.all|dictsortreversed:"created_on" %}
  <div class="card mb-3">
    <div class="card-body">
      <div class="card-title">{{ comment.user }}</div>
      <p class="card-text">{{ comment.created_on }}</p>
      <p class="card-text">{{ comment.body|linebreaks }}</p>
      {% if user == comment.user %}
        <a href="{% url 'edit_comment' customer_record.id comment.id %}" class="btn btn-secondary btn-sm" style="margin-right: 5px;">Rediger kommentar</a>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% endif %}

</div> 
</div> </div>
<div class="container3">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div class="folder-tree-wrapper" style = "border: 1px solid #ddd;">
	<div class="card-header">
		<h5>Dokumenter</h5>
	</div>
	<ul class="folder-tree">
		{% for folder in folders %}
			{% if folder.name == 'Aftaler' %}
				<li>
					<i class="fa fa-folder"></i>
					<a href="{% url 'open_folder' folder.pk %}">{{folder.name}}</a>
					<div class="arrow"><i class="fa fa-angle-down"></i></div>
					{% for file in folder.allfiles.all %}
					<ul>
						<li><i class="folderlist"></i>	<a href="{{file.file_url}}" target="_blank">{{ file }}</a></li>
					</ul>
					{% endfor %}
			{% endif %}
			{% if folder.name == 'Økonomi' %}
				<li>
					<i class="fa fa-folder"></i>
					<a href="{% url 'open_folder' folder.pk %}">{{folder.name}}</a>
					<div class="arrow"><i class="fa fa-angle-down"></i></div>
					{% for file in folder.allfiles.all %}
					<ul>
						<li><i class="folderlist"></i>	<a href="{{file.file_url}}" target="_blank">{{ file }}</a></li>
					</ul>
					{% endfor %}
			{% endif %}
			{% if folder.name == 'Planer' %}
				<li>
					<i class="fa fa-folder"></i>
					<a href="{% url 'open_folder' folder.pk %}">{{folder.name}}</a>
					<div class="arrow"><i class="fa fa-angle-down"></i></div>
					{% for file in folder.allfiles.all %}
					<ul>
						<li><i class="folderlist"></i>	<a href="{{file.file_url}}" target="_blank">{{ file }}</a></li>
					</ul>
					{% endfor %}
			{% endif %}
			{% if folder.name == 'Bilag' %}
				<li>
					<i class="fa fa-folder"></i>
					<a href="{% url 'open_folder' folder.pk %}">{{folder.name}}</a>
					<div class="arrow"><i class="fa fa-angle-down"></i></div>
					{% for file in folder.allfiles.all %}
					<ul>
						<li><i class="folderlist"></i>	<a href="{{file.file_url}}" target="_blank">{{ file }}</a></li>
					</ul>
					{% endfor %}
			{% endif %}
		{% endfor %}
	</ul>
	{% include 'upload_file.html' %}
</div>

	<script> $(function() {
  $('.folder-tree li').click(function(evt) {
        evt.stopPropagation();
        $(this).toggleClass('expanded');
    });
});</script>
</body>

</div>
<br>
<br>
<style type="text/css">
	
</style>
{% endblock %}
