<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
	Upload fil
</button>

<form method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
  {% csrf_token %}
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload fil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="file" name="uploadfile[]" multiple>
          <input type="hidden" name="fid" value="{{folder.pk}}">
        </div>
        <div class="modal-footer">
          <input type="submit" name="Upload">
        </div>
      </div>
    </div>
  </div>
</form>