<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
	Upload fil
</button>

<form method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
  {% csrf_token %}
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload fil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" ondragenter="handleDragEnter(event)" ondragover="handleDragOver(event)" ondragleave="handleDragLeave(event)" ondrop="handleDrop(event)" data-files-dropped="false">
          <input type="file" name="uploadfile[]" multiple draggable>
          <input type="hidden" name="fid" value="{{folder.pk}}">
        </div>
        <div class="modal-footer">
          <input type="submit" name="Upload">
        </div>
      </div>
    </div>
  </div>
</form>

<script type="text/javascript">
  let filesDropped = false;

function handleDrop(event) {
  event.preventDefault();
  event.stopPropagation();
  const modalBody = document.querySelector('.modal-body');
  modalBody.classList.remove('drag-over');
  filesDropped = true;
  const files = event.dataTransfer.files;
  const input = document.querySelector('input[type="file"]');
  input.files = files;
}

document.querySelector('.modal-footer input[type="submit"]').addEventListener('click', () => {
  if (filesDropped) {
    const input = document.querySelector('input[type="file"]');
    const form = input.closest('form');
    form.submit();
  }
});
</script>

<style type="text/css">
  #exampleModal.drag-over {
  background-color: #f5f5f5;
}
</style>
